* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

body {
	background-image: url('http://getwallpapers.com/wallpaper/full/b/f/9/16392.jpg');
	padding-top: 50px;
	max-width: 600px;
	text-align: left;
	display: flex;
	color: yellow;
}

img {
	display: flex;
	/* width: 20vw; */
	height: 60%;
	border-radius: 50%;
}

.list {
	/* display: inline; */
	text-align: left;
}
