* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container {
	margin-top: 10px;
	max-width: 507px;
	box-shadow: 10px 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.bio {
	margin-left: 10px;
}

.distance {
	display: flex;
	flex-direction: row;
}

.icon {
	height: 30px;
}

hr {
	margin-left: 1rem;
	margin-right: 1rem;
}

.list {
	text-align: left;
	margin: 1rem;
}

.paragraph {
	margin-bottom: 1rem;
}
